@font-face {
  font-family: 'ColfaxAI';
  src:  url('fonts/ColfaxAIRegular.woff2') format('woff'),
  url('fonts/ColfaxAIBold.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: ColfaxAI, -apple-system, Helvetica Neue, sans-serif;
  font-weight: unset;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}